rupture.scale = 0 400px 800px 1200px
rupture.scale-names = 'xs' 'sm' 'md' 'lg'
rupture.anti-overlap = -1px

@import 'stylus/Index/_variables'
@import 'stylus/Index/_reset'
@import 'stylus/Index/_mixins'
@import 'stylus/Index/Display'
@import 'stylus/Index/Flex'
@import 'stylus/Index/FontSize'
@import 'stylus/Index/Margins'
@import 'stylus/Index/MarginsX'
@import 'stylus/Index/Paddings'
@import 'stylus/Index/PaddingsX'
@import 'stylus/Index/Text'
