rupture.scale = 0 600px 800px 1200px
rupture.scale-names = 'xs' 'sm' 'md' 'lg'
rupture.anti-overlap = -1px

@import './stylus/general/_variables'
@import './stylus/general/_reset'
@import './stylus/general/_mixins'

@import './stylus/Framework/Button'
@import './stylus/Framework/Classes'
@import './stylus/Framework/Colors'
@import './stylus/Framework/Display'
@import './stylus/Framework/Flex'
@import './stylus/Framework/FontSize'
@import './stylus/Framework/FontSizeX'
@import './stylus/Framework/Grid'
@import './stylus/Framework/Margins'
@import './stylus/Framework/MarginsX'
@import './stylus/Framework/Paddings'
@import './stylus/Framework/PaddingsX'
@import './stylus/Framework/Text'
@import './stylus/Framework/Typography'
