.Flex
  display flex
.JCCenter
  justify-content center
.JCSpaceBetween
  justify-content space-between
.AICenter
  align-items center
.FlexCenter
  justify-content center
  align-items center

.FlexGrow
  flex-grow 1
.FlexWrap
  flex-wrap wrap
  
.FlexDirectionColumn
  flex-direction column
.FlexDirectionColumneverse
  flex-direction column-reverse

.FlexDirectionRow
  flex-direction row
.FlexDirectionRowReverses
  flex-direction row-reverse

.Row
  +above('sm')
    display flex
