.TextCenter
  text-align center
.TextLeft
  text-align left
.TextRight
  text-align right
.Uppercase
  text-transform uppercase
.Underline
  text-decoration underline
.Strong
  font-weight bold
.Light
  font-weight lighter
.NoWrap
  white-space nowrap

.AboveTextCenter
  +above('sm')
  	text-align-center

.BellowTextCenter
  +below('sm')
  	text-align-center
