.Container
  margin-left auto
  margin-right auto
  width 100%
  max-width $maxWidth

.Absolute
  position absolute
.Relative
  position relative

.Pointer
  cursor pointer
.NotUserSelect
  user-select none

.W100
  w(100%)
.MaxW100
  max-width 100%

.OverflowHidden
  overflow hidden

.Transition
  transition all ease .3s
  &.TransitionFast
    transition-duration .2s
  &.TransitionSlow
    transition-duration .5s
