.BGPrimary
  bg($color_primary)
.BGSecondary
  bg($color_secondary)
.BGWhite
  bg(white)
.BGGray
  bg(#EEE)

.ColorPrimary
  color $color_primary
.ColorSecondary
  color $color_secondary
.ColorWhite
  color white  

body,
.ColorText
  color $color_text
.ColorDescription
  color $color_description
